body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.changeResults{
  background-color: blue;
  color: white;
  border-radius: 50%;
  padding: 6px 18px;
  border: none;
  box-shadow: 0 4px #999;
  margin:6px 2px;
  cursor: pointer ;
}

/* Styling for errors or resets */
#reset{
  background-color: red;
}

.error{
  color: red;
}
.disabled{
  background-color: #84a1df !important;
  cursor: not-allowed !important;
}